#contents{
    padding: 190px 10px 10px 10px;
    margin:10px 10px 10px 10px;
    border-left: #f68925 2px solid;
    position: sticky;
    top:0;
}
#contents ul{
    list-style: none;
    padding: 0;
    margin:0;
}
#contents li{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color:#7f5115;
}
#contents li.active, #contents li:hover{
    color:#f68925;
}
#contents:before{
    content: '';
    background: url("http://2018.igem.org/wiki/images/f/f2/T--DLUT_China_B--character.png") no-repeat;
    background-size: 200px 200px;
    height: 200px;
    width:200px;
    position: absolute;
    top:12px;
    z-index: -1;
}