#dlutb #article .mainText{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}
#dlutb #article .mainText img{
    display: table;
    margin:5px auto;
}
#dlutb #article .mainText table#partsData{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: solid 2px #7f5115;
    background: none;
}
#dlutb #article .mainText table#partsData td,#dlutb #article .mainText table#partsData th{
    border: solid 1px #7f5115;
    padding: 5px;
    color: #7f5115;
    font-size: 16px;
    background: none;
}
#dlutb #article .mainText table#partsData thead{
    text-align: center;
}