#dlutb #article .mainText{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}
#dlutb #article .mainText img{
    display: table;
    margin:5px auto;
}
#dlutb #article .mainText table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: solid 2px #f68925;
    background: none;
}
#dlutb #article .mainText table *{
    border: solid 1px #f68925;
    padding: 5px;
    color: #f68925;
    font-size: 16px;
    background: none;
}
#dlutb #article .mainText table thead{
    text-align: center;
}