#dlutb #box_img ul,#dlutb  #word ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#dlutb #word ul li h4, #dlutb #box_img ul {
    margin: 0;
    padding: 0;
    line-height: normal;
}

#dlutb #word ul li h4{
    color: white;
    margin-top: 25px;
}

#dlutb #box {
    width: 500px;
    height: 730px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: table;
}

#dlutb #box_img {
    width: 500px;
    height: 730px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#dlutb #box_img ul li {
    width:500px;
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
}

#dlutb #box_img ul li img {
    display: block;
    width: 500px;
    height: 730px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#dlutb #word {
    background: linear-gradient(to bottom, rgba(100, 111, 156, 0) 0, #09102b 100%);
    position: absolute;
    height: 60px;
    width:100%;
    bottom: 0;
    margin: 0;
    padding: 0;
}

#dlutb #word ul li {
    position: absolute;
    top: 0;
    left: 80px;
    display: none;
    color: white;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#dlutb #controller {
    color: white;
    position: absolute;
    bottom: 15px;
    width: 80px;
    text-align: center;
    font-size: 0;
    margin: 0;
    padding: 0;
    /*top:695px;*/
}

#dlutb #forward, #dlutb #backward {
    display: inline-block;
    margin: 0;
    width: 25px;
    font-size: 15px;
    padding: 0;
}