@font-face {
    font-family: Lato;
    src: url("http://2018.igem.org/wiki/images/0/0b/T--DLUT_China_B--LatoLatin-Regular.woff");
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}
html{
    width:100%;
}
body {
    font-family: Lato, sans-serif;
    margin: 0;
    width: 100%;
}

#HQ_page p, h1, h2, h3, h4, h5, h6 {
    font-family: Lato, sans-serif;
}
#dlutb{
    background-color: #fbf2e6;
}
#dlutb p, #dlutb .mainText ol, #dlutb .mainText ul, #dlutb .mainText li {
    font-size: 18px;
    line-height: 1.7em;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
}

#dlutb .mainText ul li{
    list-style: disc none;
}

#dlutb sup, #dlutb sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

#dlutb sup {
    bottom: 1ex;
}

#dlutb sub {
    top: .5ex;
}

#dlutb ol {
    margin-left: 3em;
}

#dlutb a {
    cursor: pointer;
}

#top_title {
    display: none;
}

#content {
    margin: 0;
    width: auto;
    padding: 0;
}

#dlutb #header {
    width: 100%;
}

#dlutb #team{
    position: absolute;
    left: 20px;
    font-size: 18px;
    line-height: 60px;
    color:white;
    font-weight: bold;
}

#dlutb #moduleHeader {
    height: 530px;
    margin-bottom: 50px;
}
#dlutb #moduleHeader #background{
    background-size: cover;
    width: 100%;
    height: 470px;
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
}
#dlutb .awards{
    background: url("http://2018.igem.org/wiki/images/b/b3/T--DLUT_China_B--Background--Awards.jpg") no-repeat center center;
}
#dlutb .collaborations{
    background: url("http://2018.igem.org/wiki/images/f/f5/T--DLUT_China_B--Background--Collaborations.jpg") no-repeat left center;
}
#dlutb .demonstrate{
    background: url("http://2018.igem.org/wiki/images/3/35/T--DLUT_China_B--Background--Demonstrate.jpg") no-repeat top center;
}
#dlutb .description{
    background: url("http://2018.igem.org/wiki/images/5/54/T--DLUT_China_B--Background--Description.jpg") no-repeat bottom center;
}
#dlutb .design{
    background: url("http://2018.igem.org/wiki/images/b/b4/T--DLUT_China_B--Background--Design.jpg") no-repeat center center;
}
#dlutb .humanPractices{
    background: url("http://2018.igem.org/wiki/images/5/5e/T--DLUT_China_B--Background--HumanPractices.jpg") no-repeat center center;
}
#dlutb .interLab{
    background: url("http://2018.igem.org/wiki/images/4/4b/T--DLUT_China_B--Background--InterLab.jpg") no-repeat center center;
}
#dlutb .model{
    background: url("http://2018.igem.org/wiki/images/7/76/T--DLUT_China_B--Background--Model.jpg") no-repeat center center;
}
#dlutb .notebook{
    background: url("http://2018.igem.org/wiki/images/f/f7/T--DLUT_China_B--Background--Notebook.jpg") no-repeat center center;
}
#dlutb .parts{
    background: url("http://2018.igem.org/wiki/images/c/c8/T--DLUT_China_B--Background--Parts.jpg") no-repeat center center;
}
#dlutb .moduleTitle{
    font-size: 46px;
    color:white;
    border-bottom: 2px solid white;
    margin:0 auto;
    padding-bottom: 10px;
    font-family: Lato, sans-serif;
    display: table;
    position: relative;
    top:-269px;
}

#dlutb h2.title {
    font-size: 20px;
    font-weight: bold;
    color:#f68925;
    border-bottom: 2px #f3af42 solid;
    display: table;
    margin: 60px auto 50px auto;
    padding-bottom: 10px;
    text-align: center;
}

#dlutb h3.title {
    font-size: 18px;
    font-weight: bold;
    color:#f68925;
    border-bottom: 2px #f3af42 solid;
    display: table;
}

#dlutb #teamName {
    font-size: 20px;
    font-family: Lato, sans-serif;
    color:#f68925;
    border-bottom: 2px #f3af42 solid;
    margin: 200px auto 0 auto;
    display: table;
}

#dlutb #box{
    position: relative;
}
#dlutb #box img{
    width:100%;
}
#dlutb #box h2{
    position: absolute;
    top:10%;
    left:63%;
    margin:15px auto;
    font-size: 36px;
    color:#7f5115;
}
#dlutb #box p{
    position: absolute;
    top:27%;
    left:7%;
    width:45%;
    font-size: 22px;
    color:#7f5115;
    text-indent: 2em;
    overflow: paged-y;
}

#dlutb #typed {
    clear: both;
    border: white 2px solid;
    padding: 15px;
    height: fit-content;
    display: table;
    margin: 50px auto 0 auto;
    min-height: 60px;
    font-size: 40px;
}

#dlutb #slogan {
    text-align: center;
    user-select: none;
    line-height: 60px;
}

#dlutb .mainText {
    text-align: justify;
    color:#7f5115;
}

#dlutb .mainText p {
    font-size: 18px;
    text-indent: 2em;
}
#dlutb .mainText .img{
    text-align: center;
    max-width: 100%;
    border:none;
}
#dlutb .mainText table.img{
    margin-left: auto;
    margin-right: auto;
}
#dlutb .mainText .img img{
    max-width: 100%;
}
#dlutb .mainText .img td{
    padding:2px;
    border:none;
}
#dlutb .mainText p.footnote  {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
#dlutb .mainText table p.footnote{
    text-align: center;
}

#dlutb #article .mainText table{
    background: none;
}
#dlutb #article .mainText table *{
    color: #7f5115;
    background: none;
}

#dlutb #footer {
    background-color: #ee9349;
    padding: 30px 60px 30px 60px;
    margin-top: 50px;
}

#dlutb #footer h3 {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

#dlutb #footer p {
    color: #7f5115;
    font-size: 16px;
}

#dlutb #footer #address p {
    width: 80%;
}

#dlutb #platformName, #dlutb #qrCode {
    display: table-row;
}

#dlutb #address, #dlutb #follow, #dlutb #platformName p, #dlutb #qrCode div {
    display: table-cell;
    min-width: 30px;
}

#dlutb .btn {
    border-radius: 30px;
    border: 2px #f3af42 solid;
    color: #f3af42;
    font-size: 18px;
    line-height: 30px;
    transition: 0.5s;
    padding: 8px;
}

#dlutb .btn:visited {
    color: #f3af42;
}

#dlutb .btn:hover {
    color: white;
    background-color: #f3af42;
}

#dlutb #back {
    height: 30px;
    width: 30px;
    display: none;
    position: fixed;
    bottom: 100px;
    right: 50px;
    text-align: center;
    font-size: 28px;
    cursor:pointer;
    border:none;
}

#dlutb #chatBubbles {
    margin: 0 auto 60px auto;
}

#dlutb #circle{
    display: table;
    margin:25px auto 25px auto;
}
#dlutb #circle div.td{
    position: relative;
}
#dlutb #circle div.td div{
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    opacity: 0;
    background: url("http://2018.igem.org/wiki/images/6/6c/T--DLUT_China_B--Circle.png") no-repeat;
    background-size: contain;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    text-align: center;
    line-height: 234px;
    font-size: 46px;
    color:white;
    font-weight: bold;
}
#dlutb #circle div.td:hover div{
    opacity: 1;
}
#dlutb #circle div.td div#humanPracticesCircle p{
    position: absolute;
    line-height: normal;
    top:18%;
    left:10%;
    font-size: 46px;
    color:white;
    font-weight: bold;
    text-align: center;
}

#dlutb .tr{
    display: table-row;
}
#dlutb .td{
    display: table-cell;
}

#dlutb #contents{
    float:left;
}
#dlutb #article{
    display: table-cell;
}
#dlutb .js-plotly-plot{
    display: table;
    margin:0 auto;
}
#dlutb span.highlight{
    color:red;
    font-weight: bold;
}
#dlutb video{
    margin-left: auto;
    margin-right: auto;
    display: table;
}